# Dependencies
node_modules/

# Production build
dist/

# Environment files
.env
.env.local
.env.*.local

# OS & Editor files
.DS_Store
.idea/
.vscode/
.cursor/
*.log*
.netlify/
.vercel
.env*
android-app-react-backup/
android/local.properties
android/.gradle/
android/app/build/
ios/App/build/
